.header{
	background-color: rgb(199, 90, 90);
	position: relative;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 90px;
	padding: 90px 0 20px 0; 
}

h2{
	text-align: left;
	padding-left: 40px;
	font-size: 17px;
	padding-bottom: 40px;
}
